/* homepage starts here */
@media only screen and (max-width: 1024px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 20px !important;
		line-height: 40px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.description-h2{
		margin-top: 30px;
	}
	.main{
		height: 400px;
	}
	.main-overlay{
		height: 400px;
	}
	.circle-text p {
		top:140px;
		font-size: 15px;
		left: 11px !important;
	}
	.headings{
		font-size: 40px;
	}
	.content-cover {
		padding: 30px !important;
	}
	.col-content1-img{
		margin-left: 0px;
	}
}

@media only screen and (max-width: 768px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 20px !important;
		line-height: 40px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	#get-a-quote{
		display: none;
	}
	.description-h2{
		margin-top: 30px;
	}
	.main{
		height: 400px;
	}
	.main-overlay{
		height: 400px;
	}
	.circle-text {
		margin-left: 200px;
		padding: 22%;
	}
	#img-holder{
		font-size: 112px;
	}
	.circle-text p {
		top: 201px !important;
		font-size: 15px;
		left: 11px !important;
	}
	.mobile-style{
		left: 307px !important;
		top: 65px !important;
	}
	.mobile-style1{
		left: 324px !important;
	}
	.mobile-style2{
		left:350px !important;
	}
	.mobile-style3{
		left: 330px !important;
	}
	#img-hold{
		height: 426px !important;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 15px;
		line-height: 30px;
		font-family: lato;
		font-weight: bold;
	}
	.content-cover {
		padding: 0px !important;
	}
}

@media only screen and (max-width : 425px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 15px;
		line-height: 20px;
		margin-top: -27px;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.col-content h2{
		font-size: 15px;
		line-height: 22px;
	}
	.col-content p{
		font-size: 15px;
		line-height: 25px;
	} 
	.col-content1-img {
		height: 130px;
		margin-top: 2px;
		margin-left: 0px;
	}
	.heading {
		font-size: 15px;
	}
	.circle-text {
		margin-left: 95px;
		padding: 30%;
	}
	#img-holder{
		font-size: 60px;
	}
	.circle-text p {
		top: 123px;
		font-size: 15px;
		left: 20px !important;
	}
	.mobile-style{
		left: 195px !important;
	}
	.mobile-style1{
		left: 205px !important;
	}
	.mobile-style2{
		left:216px !important;
	}
	.mobile-style3{
		left: 213px !important;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
		font-family: lato;
		font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	.portfolio-div {
		padding: 25px 0px;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 414px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.col-content h2{
		font-size: 15px;
		line-height: 22px;
	}
	.col-content p{
		font-size: 15px;
		line-height: 25px;
	} 
	.col-content1-img {
		height: 145px;
		margin-top: 2px;
		margin-left: 0px;
	}
	.heading {
		font-size: 15px;
	}
	.circle-text {
		margin-left: 95px !important;
		padding: 25% !important;
	}
	#img-holder{
		font-size: 60px;
	}
	#img-hold{
		height: 300px !important;
	}
	.circle-text p {
		top:106px !important;
		font-size: 10px !important;
		left: 8px !important;
	}
	.mobile-style{
		left: 170px !important;
		top: 43px !important;
	}
	.mobile-style1{
		left: 184px !important;
	}
	.mobile-style2{
		left:196px !important;
	}
	.mobile-style3{
		left: 185px !important;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p {
    font-size: 15px;
    line-height: 27px;
    font-family: lato;
    font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 411px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.col-content h2{
		font-size: 15px;
		line-height: 22px;
	}
	.col-content p{
		font-size: 15px;
		line-height: 25px;
	} 
	.col-content1-img {
		height: 145px;
		margin-top: 2px;
		margin-left: 0px;
	}
	.heading {
		font-size: 15px;
	}
	.circle-text {
		margin-left: 95px !important;
		padding: 25% !important;
	}
	#img-holder{
		font-size: 60px;
	}
	#img-hold{
		height: 300px !important;
	}
	.circle-text p {
		top:106px !important;
		font-size: 10px !important;
		left: 8px !important;
	}
	.mobile-style{
		left: 170px !important;
		top: 43px !important;
	}
	.mobile-style1{
		left: 184px !important;
	}
	.mobile-style2{
		left:196px !important;
	}
	.mobile-style3{
		left: 185px !important;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p {
    font-size: 15px;
    line-height: 27px;
    font-family: lato;
    font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 375px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px;
		line-height: 24px;
		margin-top: -27px;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.container-cover h1{
		margin-top: 40px;
	}
	.col-content h2{
		font-size: 15px;
		line-height: 22px;
	}
	.col-content p{
		font-size: 15px;
		line-height: 25px;
	} 
	.col-content1-img {
		height: 97px;
		margin-top: 2px;
		margin-left: 0px;
	}
	.heading {
		font-size: 15px;
	}
	.circle-text {
		margin-left: 52px;
		padding: 30%;
	}
	#img-holder{
		font-size: 60px;
	}
	.circle-text p {
		top:106px !important;
		font-size: 10px !important;
		left: 17px !important;
	}
	.mobile-style{
		left: 126px !important;
	}
	.mobile-style1{
		left: 177px !important;
	}
	.mobile-style2{
		left:192px !important;
	}
	.mobile-style3{
		left: 176px !important;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 12px !important;
		line-height: 25px !important;
		font-family: lato;
		font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 360px) {
		.second-div-content.wow.fadeInLeft.animated {
			display: none;
		}
		.first-div-content.wow.fadeInLeft.animated{
			display: none;
		}
		.container-fluid img{
			height: 50px !important;
		}
		.navbar-toggle.mobile-margin-btn {
			margin-top: 20px !important;
		}
		.description-h2.wow.fadeInLeft.animated {
			font-size: 10px !important;
			line-height: 24px !important;
			margin-top: -27px !important;
		}
		.button-div{
			margin-top: -10px !important;
		}
		.buttonn{
			width: 70% !important;
			height: 50px !important;
			font-size: 12px !important;
		}
		.nav.navbar-nav.navbar-right.mobile-margin-btn{
			margin-top: 20px !important;
			text-align: center;
		}
		#img-hold{
			height: 270px !important;
		}
		.main{
			height: 300px;
		}
		.main-overlay{
			height: 300px;
		}
		.col-content h2{
			font-size: 15px;
			line-height: 22px;
		}
		.col-content p{
			font-size: 15px !important;
			line-height: 25px ;
		} 
		.col-content1-img {
			height: 97px !important;
			margin-top: 2px !important;
			margin-left: 0px !important;
		}
		.heading {
			font-size: 15px;
		}
		.circle-text {
			margin-left: 52px !important;
			padding: 30% !important;
		}
		#img-holder{
			font-size: 60px;
		}
		.circle-text p {
			top:106px;
			font-size: 10px;
			left: -5px !important;
		}
		.mobile-style{
			left: 135px !important;
			top: 44px !important;
		}
		.mobile-style1{
			left: 135px !important;
		}
		.mobile-style2{
			left:145px !important;
		}
		.mobile-style3{
			left: 136px !important;
		}
		.container-cover{
			height: 300px;
		}
		.cover-overlay{
			height: 300px;
		}
		#quote-carousel{
			margin-top: 0px !important;
		}
		.headings{
			font-size: 15px;
		}
		.text-center p{
			font-size: 10px;
			line-height: 15px;
			font-family: lato;
			font-weight: bold;
		}
		.customer-logo{
			display: none !important;
		}
		.content-cover{
			padding: 40px 0px;
		}
		.quote-div{
			height: 200px;
		}
		.main-overla{
			height: 200px;
		}
		.button-div button{
			margin-top: 17px !important;
		}
		.button-div-media-style{
			margin-top: 30px !important;
		}
		.button-div-media-style button{
			width: 75% !important;
			height: 40px !important;
			font-size: 15px !important;
		}
		hr {
			display: none;
		}
}

@media only screen and (max-width : 320px) {
		.second-div-content.wow.fadeInLeft.animated {
			display: none;
		}
		.first-div-content.wow.fadeInLeft.animated{
			display: none;
		}
		.container-fluid img{
			height: 50px !important;
		}
		.navbar-toggle.mobile-margin-btn {
			margin-top: 20px !important;
		}
		.description-h2.wow.fadeInLeft.animated {
			font-size: 10px !important;
			line-height: 24px !important;
			margin-top: -27px !important;
		}
		.button-div{
			margin-top: -10px !important;
		}
		.buttonn{
			width: 70% !important;
			height: 50px !important;
			font-size: 12px !important;
		}
		.nav.navbar-nav.navbar-right.mobile-margin-btn{
			margin-top: 20px !important;
			text-align: center;
		}
		#img-hold{
			height: 270px !important;
		}
		.main{
			height: 300px;
		}
		.main-overlay{
			height: 300px;
		}
		.col-content h2{
			font-size: 15px;
			line-height: 22px;
		}
		.col-content p{
			font-size: 15px !important;
			line-height: 25px ;
		} 
		.col-content1-img {
			height: 97px !important;
			margin-top: 2px !important;
			margin-left: 0px !important;
		}
		.heading {
			font-size: 15px;
		}
		.circle-text {
			margin-left: 52px !important;
			padding: 30% !important;
		}
		#img-holder{
			font-size: 60px;
		}
		.circle-text p {
			top:106px;
			font-size: 10px;
		}
		.mobile-style{
			left: 126px !important;
			top: 40px !important;
		}
		.mobile-style1{
			left: 135px !important;
		}
		.mobile-style2{
			left:145px !important;
		}
		.mobile-style3{
			left: 136px !important;
		}
		.container-cover{
			height: 300px;
		}
		.cover-overlay{
			height: 300px;
		}
		#quote-carousel{
			margin-top: 0px !important;
		}
		.headings{
			font-size: 15px;
		}
		.text-center p{
			font-size: 10px !important;
			line-height: 15px !important;
			font-family: lato !important;
			font-weight: bold !important;
		}
		.customer-logo{
			display: none !important;
		}
		.content-cover{
			padding: 40px 0px;
		}
		.quote-div{
			height: 200px;
		}
		.main-overla{
			height: 200px;
		}
		.button-div button{
			margin-top: 17px !important;
		}
		.button-div-media-style{
			margin-top: 30px !important;
		}
		.button-div-media-style button{
			width: 75% !important;
			height: 40px !important;
			font-size: 15px !important;
		}
		hr {
			display: none;
		}
}

/* wh0-we-are starts here*/


@media only screen and (max-width : 1024px) {
	.banner-h1 {
		margin-top: 120px;
	}
	.about-banner{
		height: 400px !important;
	}
	.about-overlay{
		height: 400px;
	}
	.who-we-are-tbody td{
		line-height: 20px;
		padding: 1px;
	}
}

@media only screen and (max-width : 768px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 20px !important;
		line-height: 40px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	#get-a-quote{
		display: none;
	}
	.about-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.what-we-do-div strong{
		font-size: 20px;
		padding-left: 179px;
	}
	.banner-h1{
		font-size: 25px;
		line-height: 29px;
		margin-top: 60px;
	}
	.who-we-are-table {
		margin-left: -37px;
	}
	.who-we-are-tbody td {
		line-height: 22px;
		font-size: 11px;
	}
	.cover-wrap{
		height: 300px !important;
	}
	.cover-wrap p {
		padding-top: 115px;
		font-size: 25px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
	}
	.heading {
		font-size: 15px;
	}
	.customer-logo{
		display: none;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 14px;
		line-height: 25px;
		font-family: lato;
		font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 425px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.about-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.what-we-do-div strong{
		font-size: 12px;
		padding-left: 33px;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.who-we-are-table {
		margin-left: -37px;
	}
	.who-we-are-tbody td {
		line-height: 22px;
		font-size: 11px;
	}
	.cover-wrap{
		height: 300px !important;
	}
	.cover-wrap p {
		padding-top: 150px;
		font-size: 13px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
	}
	.heading {
		font-size: 15px;
	}
	.customer-logo{
		display: none;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
		font-family: lato;
		font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 414px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.about-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.what-we-do-div strong{
		font-size: 12px;
		padding-left: 33px;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.who-we-are-table {
		margin-left: -37px;
	}
	.who-we-are-tbody td {
		line-height: 22px;
		font-size: 11px;
	}
	.cover-wrap{
		height: 300px !important;
	}
	.cover-wrap p {
		padding-top: 150px;
		font-size: 13px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
	}
	.heading {
		font-size: 15px;
	}
	.customer-logo{
		display: none;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 15px;
		line-height: 23px;
		font-family: lato;
		font-weight: bold;
		text-align: justify;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 411px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.about-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.what-we-do-div strong{
		font-size: 12px;
		padding-left: 33px;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.who-we-are-table {
		margin-left: -37px;
	}
	.who-we-are-tbody td {
		line-height: 22px;
		font-size: 11px;
	}
	.cover-wrap{
		height: 300px !important;
	}
	.cover-wrap p {
		padding-top: 150px;
		font-size: 13px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
	}
	.heading {
		font-size: 15px;
	}
	.customer-logo{
		display: none;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 15px;
		line-height: 23px;
		font-family: lato;
		font-weight: bold;
		text-align: justify;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 375px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.about-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.what-we-do-div strong{
		font-size: 12px;
		padding-left: 33px;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.who-we-are-table {
		margin-left: -37px;
	}
	.who-we-are-tbody td {
		line-height: 22px;
		font-size: 11px;
	}
	.cover-wrap{
		height: 300px !important;
	}
	.cover-wrap p {
		padding-top: 150px;
		font-size: 13px;
	}
	.text-center p{
		font-size: 12px;
		line-height: 25px;
	}
	.heading {
		font-size: 15px;
	}
	.customer-logo{
		display: none;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 12px;
		line-height: 25px;
		font-family: lato;
		font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 360px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.about-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.what-we-do-div strong{
		font-size: 12px !important;
		padding-left: 3px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.who-we-are-table {
		margin-left: -37px;
	}
	.who-we-are-tbody td {
		line-height: 22px;
		font-size: 11px;
	}
	.cover-wrap{
		height: 300px !important;
	}
	.cover-wrap p {
		padding-top: 150px;
		font-size: 13px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
	}
	.heading {
		font-size: 15px;
	}
	.customer-logo{
		display: none;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
		font-family: lato;
		font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 320px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.about-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.what-we-do-div strong{
		font-size: 12px !important;
		padding-left: 3px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.who-we-are-table {
		margin-left: -37px;
	}
	.who-we-are-tbody td {
		line-height: 22px;
		font-size: 11px;
	}
	.cover-wrap{
		height: 300px !important;
	}
	.cover-wrap p {
		padding-top: 150px;
		font-size: 13px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
	}
	.heading {
		font-size: 15px;
	}
	.customer-logo{
		display: none;
	}
	.container-cover{
		height: 300px;
	}
	.cover-overlay{
		height: 300px;
	}
	#quote-carousel{
		margin-top: 0px !important;
	}
	.headings{
		font-size: 15px;
	}
	.text-center p{
		font-size: 10px;
		line-height: 15px;
		font-family: lato;
		font-weight: bold;
	}
	.customer-logo{
		display: none !important;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.quote-div{
		height: 200px;
	}
	.main-overla{
		height: 200px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

/* our-process starts here*/

@media only screen and (max-width : 1024px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.process-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.idea-img{
		height: 200px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.text-wrapper {
		margin-top: -37px;
	}
	.text-wrapper p{
		font-size: 20px;
	}
	.process-button-div{
		margin-top: -45px;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}

	hr {
		display: none;
	}
}

@media only screen and (max-width : 768px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.process-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.idea-img{
		height: 200px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.text-wrapper p{
		font-size: 20px;
	}
	.process-button-div{
		margin-top: -75px;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 425px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.process-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.idea-img{
		height: 200px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.text-wrapper p{
		font-size: 20px;
	}
	.process-button-div{
		margin-top: -75px;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 375px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.process-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.idea-img{
		height: 200px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.text-wrapper p{
		font-size: 20px;
	}
	.process-button-div{
		margin-top: -75px;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 320px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.process-banner{
		height: 300px !important;
	}
	.about-overlay{
		height: 300px;
	}
	.idea-img{
		height: 200px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.text-wrapper p{
		font-size: 20px;
	}
	.process-button-div{
		margin-top: -75px;
	}
	.content-cover{
		padding: 40px 0px;
	}
	.button-div button{
		margin-top: 17px !important;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

/* services starts here*/

@media only screen and (max-width : 1024px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.branding-banner{
		height: 300px !important;
	}
	.container-cap{
		height: 730px !important;
	}
	.overlay {
		height: 730px;
	}
	.text-wrap b{
		font-size: 12px;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	.digital-ul{
		font-size: 13px;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 768px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 15px !important;
		text-align: center;
	}
	.branding-banner{
		height: 300px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.container-cap{
		height: 1090px !important;
	}
	.overlay {
		height: 1090px;
	}
	.text-wrap b{
		font-size: 12px;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	#get-quote {
		display: none;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 425px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -31px !important;
		text-align: center;
	}
	.branding-banner{
		height: 300px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.container-cap{
		height: 1370px !important;
	}
	.overlay {
		height: 1370px;
	}
	.text-wrap b{
		font-size: 12px;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 375px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -31px !important;
		text-align: center;
	}
	.branding-banner{
		height: 300px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.container-cap{
		height: 1370px !important;
	}
	.overlay {
		height: 1370px;
	}
	.text-wrap b{
		font-size: 12px;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
} 

@media only screen and (max-width : 320px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 20px !important;
		text-align: center;
	}
	.branding-banner{
		height: 300px !important;
	}
	.banner-h1{
		font-size: 15px;
		line-height: 29px;
		margin-top: 25px;
	}
	.container-cap{
		height: 1690px !important;
	}
	.overlay {
		height: 1690px;
	}
	.text-wrap b{
		font-size: 12px;
	}
	.button-div-media-style{
		margin-top: 30px !important;
	}
	.button-div-media-style button{
		width: 75% !important;
		height: 40px !important;
		font-size: 15px !important;
	}
	hr {
		display: none;
	}
}


/* portfolio starts here*/

@media only screen and (max-width : 768px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 17px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	#get-aquote{
		display: none;
	}
	.support {
		margin-top: -30px;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 425px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}

@media only screen and (max-width : 375px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}

@media only screen and (max-width : 320px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}


/* quote starts here*/

@media only screen and (max-width : 1024px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 14px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.quote-side-content{
		width: 100% !important;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.side-content li{
		list-style: none;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}

@media only screen and (max-width : 768px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 14px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.quote-side-content{
		width: 100% !important;
	}
	#getquote{
		display: none;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.side-content li{
		list-style: none;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}

@media only screen and (max-width : 425px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.quote-side-content{
		width: 100% !important;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.side-content li{
		list-style: none;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}

@media only screen and (max-width : 375px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.quote-side-content{
		width: 100% !important;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.side-content li{
		list-style: none;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}

@media only screen and (max-width : 320px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	.main{
		height: 300px;
	}
	.main-overlay{
		height: 300px;
	}
	.quote-side-content{
		width: 100% !important;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.side-content li{
		list-style: none;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}

/* brief starts here */
@media only screen and (max-width : 1024px) {
	
	h2.brief-h2{
		margin-top: 60px;
	}
	
	.button-div{
		padding-bottom: 20px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
}

@media only screen and (max-width : 768px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 14px !important;
		text-align: center;
	}
	h2.brief-h2{
		margin-top: 45px;
	}
	.form-div{
		width: 90%;
		margin:auto;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	#getquotee{
		display: none;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 425px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	h2.brief-h2{
		margin-top: 45px;
	}
	.form-div{
		width: 100%;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}


@media only screen and (max-width : 375px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	h2.brief-h2{
		margin-top: 45px;
	}
	.form-div{
		width: 100%;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}

@media only screen and (max-width : 320px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	h2.brief-h2{
		margin-top: 45px;
	}
	.form-div{
		width: 100%;
	}
	.button-div{
		padding-bottom: 20px;
	}
	.work-button.work-buttonn {
		width: 70% !important;
	}
	
	hr {
		display: none;
	}
}


/* contact starts here */

@media only screen and (max-width : 1024px) {
	
	.button-div{
		padding-bottom: 20px;
	}
	#work-button{
		width: 75% !important;
		margin-left: 10px !important;
		height: 40px !important;
	}
	#brief-button{
		width: 75% !important;
		margin-left: 22px !important;
		height: 40px !important;
	}
	.brief-content{
		padding: 34px;
	}
	.contact-div{
		margin-top: 0px;
	}
	
	hr {
		display: none;
	}
}

@media only screen and (max-width : 768px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: 15px !important;
		text-align: center;
	}
	#side-image{
		height: 738px !important;
	}
	#side-image-overlay{
		height: 738px !important;
	}
	.button-div{
		padding-bottom: 20px;
	}
	#work-button{
		width: 75% !important;
		margin-left: 10px !important;
		height: 40px !important;
	}
	#brief-button{
		width: 75% !important;
		margin-left: 22px !important;
		height: 40px !important;
	}
	.brief-content{
		padding: 34px;
	}
	.contact-div{
		margin-top: 0px;
	}
	.col-style{
		height: 508px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 425px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	#side-image{
		height: 840px !important;
	}
	#side-image-overlay{
		height: 840px !important;
	}
	.button-div{
		padding-bottom: 20px;
	}
	#work-button{
		width: 75% !important;
		margin-left: 10px !important;
		height: 40px !important;
	}
	#brief-button{
		width: 75% !important;
		margin-left: 22px !important;
		height: 40px !important;
	}
	.brief-content{
		padding: 34px;
	}
	.contact-div{
		margin-top: 0px;
	}
	.col-style{
		height: 508px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 375px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	#side-image{
		height: 840px !important;
	}
	#side-image-overlay{
		height: 840px !important;
	}
	.button-div{
		padding-bottom: 20px;
	}
	#work-button{
		width: 75% !important;
		margin-left: 10px !important;
		height: 40px !important;
	}
	#brief-button{
		width: 75% !important;
		margin-left: 22px !important;
		height: 40px !important;
	}
	.brief-content{
		padding: 34px;
	}
	.contact-div{
		margin-top: 0px;
	}
	.col-style{
		height: 508px !important;
	}
	hr {
		display: none;
	}
}

@media only screen and (max-width : 320px) {
	.second-div-content.wow.fadeInLeft.animated {
		display: none;
	}
	.first-div-content.wow.fadeInLeft.animated{
		display: none;
	}
	.container-fluid img{
		height: 50px !important;
	}
	.navbar-toggle.mobile-margin-btn {
		margin-top: 20px !important;
	}
	.description-h2.wow.fadeInLeft.animated {
		font-size: 10px !important;
		line-height: 24px !important;
		margin-top: -27px !important;
	}
	.button-div{
		margin-top: -10px !important;
	}
	.buttonn{
		width: 70% !important;
		height: 50px !important;
		font-size: 12px !important;
	}
	.nav.navbar-nav.navbar-right.mobile-margin-btn{
		margin-top: -30px !important;
		text-align: center;
	}
	#side-image{
		height: 840px !important;
	}
	#side-image-overlay{
		height: 840px !important;
	}
	.button-div{
		padding-bottom: 20px;
	}
	#work-button{
		width: 75% !important;
		margin-left: 10px !important;
		height: 40px !important;
	}
	#brief-button{
		width: 75% !important;
		margin-left: 22px !important;
		height: 40px !important;
	}
	.brief-content{
		padding: 34px;
	}
	.contact-div{
		margin-top: 0px;
	}
	.col-style{
		height: 508px !important;
	}
	hr {
		display: none;
	}
}





