.footer {
    background: #000;
    padding: 40px 0px;
}
.footer_agile_inner_info_w3l {
    width: 90%;
    margin: 0 auto;
}
.footer-left p {
    color: rgba(255, 255, 255, 0.89);
    line-height: 2em;
    font-size: 14px;
    margin-top: 22px;
}
ul.social-nav.model-3d-0.footer-social.w3_agile_social.two {
    float: none;
}
.social-nav li {
    display: inline-block;
    margin: 0 6px;
}
.sign-gd h4, .sign-gd-two h4 {
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.sign-gd ul li, .sign-gd-two ul li {
    color: #fff;
    line-height: 2em;
    font-size: 14px;
    list-style-type: none;
}
.sign-gd ul li a, .sign-gd-two ul li a {
    color: rgba(255, 255, 255, 0.89);
    letter-spacing: 1px;
}
.w3-address-right h6 {
    color: #FFFFFF;
    font-size: 0.9em;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2em;
}
.w3-address-right p{
	color: #fff;
}
p.copy-right {
    color: #848484;
    text-align: center;
    margin-top: 62px;
    font-size: 14px;
}