
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: lato;
    letter-spacing: 0px;
    font-size: 18px;
    color: #50595e;
    font-weight: 400;
    line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #06131a;
    margin: 0px 0px 15px 0px;
    font-family: lato;
}

h1 {
    font-size: 36px;
}

h2 {
    text-transform: capitalize;
    font-size: 30px;
    line-height: 38px;
    color: white;
}

h3 {
    font-size: 22px;
    text-align: center;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    margin: 0 0 20px;
    line-height: 1.7;
}

p:last-child {
    margin: 0px;
}

ul,
ol {}

a {
    text-decoration: none;
    color: #50595e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #ce0058;
}

sub {
    bottom: 0em;
}

.lead {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
    font-family: lato;
    color: #06131a;
    margin-bottom: 20px;
}


.feature-left {
    margin-bottom: 40px;
}

.feature-left .feature-icon {
    font-size: 50px;
    color: #4cbec5;
    display: inline-block;
    float: left;
    padding-right: 40px;
    padding-top: 7px;
}

.feature-left .feature-content {
    font-size: 20px;
}

.feature-left:last-child {}
textarea.form-control {
    height: 90px;
}

.required {}

.form-group {
    margin-bottom: 5px;
}

select.form-control:not([size]):not([multiple]) {
    height: 56px;
    color: #50595e;
}

.hero-section .form-control {
    border: 1px solid #8c897d;
    height: 58px;
}

.form-control {
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 56px;
    padding: 14px 18px;
    line-height: 1.42857143;
    border: 1px solid #d2d8db;
    background-color: #fff;
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-bottom: 14px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 1);
    -webkit-appearance: none;
}

.form-control:focus {
    color: #06131a !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(234, 231, 222);
    border-color: #06131a;
}

input::-webkit-input-placeholder {
    color: #50595e !important;
}

textarea::-webkit-input-placeholder {
    color: #50595e !important;
}

.input-group-addon {
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 12px;
}

.focus {
    border: 1px solid #d2d8db;
}

.focus:focus {
    border: 1px solid #06131a;
}
.input-group-addon i {
    color: #63480f;
}

.btn-select {
    font-size: 14px;
}

select option {
    margin: 40px;
    background: rgba(255, 255, 255, 1);
    color: #50595e;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    position: relative;
}

select.form-control {
    position: relative;
}

select {
    -moz-appearance: none;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    padding: 14px;
    line-height: 1.42857143;
    border: 1px solid #e0e5e9;
    background-color: #fff;
    text-transform: capitalize;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

.select {
    position: relative;
    display: block;
    line-height: 2.2;
    overflow: hidden;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    cursor: pointer;
    color: #50595e;
    font-size: 16px;
}

.select::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px 17px 0px 0px;
    background: transparent;
    pointer-events: none;
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 16px;
}

.select:hover::after {
    color: #50595e;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

select option {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    font-family: lato;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.service-form {
    background-color: #fafbfb;
    border: 1px solid #e4e8ea;
    padding: 40px 40px 20px 40px;
}

.service-form-group {
    position: relative;
}

.form-icon {
    position: absolute;
    right: 14px;
    bottom: 15px;
    font-size: 13px;
}
.btn {
    font-family: lato;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 26px;
    letter-spacing: 0px;
    border-radius: 0px;
    line-height: 2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    word-wrap: break-word;
    white-space: normal !important;
}


.btn-default {
    background-color: #ce0058;
    color: #fff;
    border: 2px solid #ce0058;
}

.btn-default:hover {
    background-color: transparent;
    color: #ce0058;
    border: 2px solid #ce0058;
}

.btn-default.focus,
.btn-default:focus {
    background-color: transparent;
    color: #ce0058;
    border: 2px solid #ce0058;
    box-shadow: 0 0 0 0.2rem rgb(206, 0, 88);
}

.space-medium{padding-top:80px; padding-bottom:80px;}

