*{
	padding: 0px;
	margin: 0px;
}

html{
  overflow-x: hidden !important;
}
.brief-content{
  text-align: center;
}
.main{
   background-image: url(../images/trial.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 750px;
     -webkit-background-size: cover;
     background-position: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.quote-div{
	background-image: url(../images/random3.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 300px;
     -webkit-background-size: cover;
     background-position: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.memorable-div{
	background-image: url(../images/bottom-brand.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 300px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
      background-attachment: fixed;
}
.circl {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
  animation-duration: 4s;
  -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
    -webkit-transition-duration: 4s;
}
.memo-overlay{
	background-color: #000;
	height: 300px;
	opacity: 0.8;
}
.memo-overlay h1{
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-family: lato;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.memo-overlay p{
	color: #fff;
    line-height: 30px;
    font-size: 15px;
    font-family: lato;
    letter-spacing: 2px;
}
.main-overlay{
	background-color: #000;
	height: 750px;
	opacity: 0.8;
}
.main-overla{
	background-color: #000;
	height: 300px;
	opacity: 0.6;
}
.main-overlay li{
	display: inline-block;
	font-size: 10px;
}
small {
	display: block;
	font-size: 13px !important;
	color: #fff;
	font-family: latolight;
}
.main-content{
	padding-top: 20px;
}
.portfolio-overlay h1 {
	font-size: 25px;
	font-family: lato;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 5px;
}
.first-div-content{
	float: left;
}
.second-div-content{
	float: right;
}
.second-div-content li{
	font-size: 15px;
	padding-left: 10px;
	font-family: latolight;
	display: inline-block;
}
.number{
	font-size: 20px !important;
	color: #fff;
}
.second-div-content a {
	color: #fff;
}
.navbar-inverse{
	background-color: unset !important;
	border:none !important;
}
.support{
  background-color: #494949;
  padding: 20px 0px;
}
.support_div_table tr{
  color: #fff;
    text-align: center;
    font-family: latolight;
    line-height: 35px;
    font-size: 20px;
}
.enquiry_div_table tr{
  color: #fff;
  text-align: center;
  font-family: latolight;
  line-height: 35px;
  font-size: 20px;
}
.enquiry {
  background: #F02C42;
  padding: 20px 0px;
}
.container-fluid img{
	object-fit: cover;
}

.navbar-nav li{
}
.navbar-nav a{
	font-size: 15px;
	font-family: lato;
}
.nav-a:before, .nav-a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #F37272;
}
.nav-a {
	color: #fff !important;
}
.nav-a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-a:hover:before, .nav-a:hover:after, .nav-a:focus:before, .nav-a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav-a:hover:before, .nav-a:focus:before {
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-a:hover:after, .nav-a:focus:after {
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background-color: #CE0922 !important;
	color: #fff !important;
	width: 100%;
}
.description-h2{
	width: 74%;
    font-size: 40px;
    color: #fff;
    font-family: lato;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 61px;
}
button{
	padding: 10px;
	margin-top: -16px !important;
}

.button-div{
	margin-top: 20px;
}
.button-div button {
	  background-color: #EC192A;
    border: none;
    color: #fff;
    margin-top: -16px !important;
    width: 26%;
    height: 65px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px !important;
}
.button-div-media-style button {
   background-color: #EC192A;
    border: none;
    color: #fff;
    margin-top: -16px !important;
    width: 26%;
    height: 65px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px !important;
}
.button-div button:hover{
	background-color: red;
	color: #fff;
}
.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 60% ;
  border-radius: 50%;
  background: #38a9e4;
  color: white;
  font-family: lato;
  text-align: center;
}
.circle-text {
display:inline-block;
height: 100%;
width: 0;
text-align: center;
vertical-align: middle;
border-radius: 50%;
padding: 53%;
/*transition: transform .2s;
*/transition: all ease 2s;
background: #E9192C;
text-align: center;
border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}
.circle-text:hover{
	background: #009FFF;
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
background: linear-gradient(to right, #ec2F4B, #009FFF);
transform: scale(1);
}
#img-holder{
	    position: absolute;
    top: 40px;
    left: 115px;
    font-size: 85px;
    color: #fff;
}
.mobile-style2{
  left: 130px;
}
.mobile-style{
  left: 104px;
}
.circle-text p{
	top: 144px;
    position: absolute;
    width: 100%;
    font-size: 21px;
    left: 10px;
    font-weight: bold;
    color: #fff;
}
.fa-lock{
	color: #fff;
}
.container-wrap{
	padding:40px 0px;
}
.container-wrpp{
	padding: 70px 0px;
}
.service-wrap{
	padding: 70px 0px;
	background-color: #eee;
}
.heading {
	font-size: 20px;
	text-align: center;
  margin-bottom: 40px;
	font-family: lato;
	text-transform: uppercase;
	letter-spacing: 1px;
  font-weight: bold;
}
.col-content h2{
	font-weight: bold;
    font-family: lato;
    color: #000;
    line-height: 50px;
    font-size: 25px;
}
.col-content p{
	font-size: 18px;
	line-height: 35px;
    text-align: justify;
}
.col-content1-img{
	object-fit: cover;
    height: 180px;
    margin-top: 65px;
    margin-left: 120px;
    -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.col-content1-img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.case-study{
  background-image: url(../images/code.jpg);
  background-size: 100% auto;
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
}
.box{
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box:before,
.box:after{
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.8));
    background-repeat: repeat;
    background-size: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.box:after{
    left: auto;
    right: 50%;
}
.box:hover:before{
    left: 0;
    opacity: 1;
}
.box:hover:after{
    right: 0;
    opacity: 1;
}
.box img{
    width: 100%;
    height: 200px;
    transition: all 0.3s ease 0s;
    object-fit: cover;
}
.box:hover img{
    transform: scale(1.2);
    filter: brightness(200%);
}
.box .box-content{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left,rgba(0,0,0,1),rgba(0,0,0,0.3),transparent,rgba(0,0,0,0.3),rgba(0,0,0,1));
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease 0s;
}
.box:hover .box-content{ opacity: 1; }
.box .inner-content{
    width: 100%;
    padding: 7px 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
}
.box .title{
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color: #f94977;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 3px 0;
    opacity: 0;
    transform: translateY(150px);
    transition: all 0.6s ease 0s;
}
.box .post{
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    color: #fff;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.6s ease 0s;
}
.box:hover .title,
.box:hover .post{
    opacity: 1;
    transform: translate(0, 0);
}
.box .icon{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.5s ease 0s;
}
.box:hover .icon{ top: 70%; }
.box .icon li{
    display: inline-block;
    margin-right: 5px;
    transition: all 0.3s ease 0s;
}
.box .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #f94977;
    font-size: 20px;
    color: #fff;
    position: relative;
    transition: all 0.3s ease 0s;
}
.box .icon li a:hover{
    text-decoration: none;
    background: #fff;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.5) inset;
    color: #f94977;
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 30px; }
}
@media only screen and (max-width:479px){
    .box .title{ font-size: 20px; }
}
.wrapper{
	padding: 40px 0px;
}
.wrapper h1{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.wrapper img{
	object-fit: contain;
	width: 100%;
	height: 60px;
}
.container-wrapp{
	padding: 40px 0px;
	background-color: #EB1B2E;
}
.container-cover{
	background-image: url(../images/customer.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 500px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.content-cover{
	padding: 70px 0px;
}
.cover-overlay{
	background-color: #EB1B2E;
	height: 410px;
	opacity: 0.8;
}
.portfolio-banner{
	background-image: url(../images/port.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 300px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.about-banner{
	background-image: url(../images/abt.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 750px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
     -ms-background-size: cover;
}
.branding-banner{
	background-image: url(../images/branding.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 300px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.refer-and-earn-banner{
  background-image: url(../images/branding.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 300px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.about-overlay {
  background-color: #000;
  height: 750px;
  opacity: 0.8;
}
.banner-h1 {
  font-size: 50px;
text-transform: uppercase;
margin-top: 50px;
color: #fff;
font-weight: bold;
letter-spacing: 2px;
}
.website-banner{
	background-image: url(../images/random1.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 500px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.quote-banner{
  background-image: url(../images/quotee.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 200px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.quote-overlay {
  background: #000;
  opacity: 0.6;
  height: 200px;
}
.digital-banner{
  background-image: url(../images/random4.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 500px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.digital-h1{
  font-size: 30px;
  font-family: lato;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}
.website-banner p {
	text-align: center;
	font-family: lato;
	letter-spacing: 2px;
	
}
.digital-banner p {
  text-align: center;
  font-family: lato;
  letter-spacing: 2px;
  line-height: 30px;
}
.about-website{
	padding: 40px 0px;
}

.about-website p {
	  text-align: justify;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 35px;
    font-family: lato;
}
.branding-banner p {
	color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-family: lato;
    font-size: 15px;
}
.branding-p{
	margin-top: 20px;
    font-size: 20px;
    font-family: lato;
    line-height: 35px;
    text-align: justify;
    letter-spacing: 2px;
}
.help-div {
	padding: 60px 0px;
  background-color: #999999;
}
.digital-div {
  padding: 60px 0px;
  background-color:#808080;
}
.branding-content {
background-color: #000;
padding: 50px 0px;
}
.cover-overlay{
	background-color: #EB1B2E;
	height: 500px;
	opacity: 0.8;
}
.portfolio-overlay{
	background-color: #000;
	height: 300px;
	opacity: 0.8;
}
.text-center p{
	color: #fff;
}
.container-cover h1{
	text-align: center;
	font-weight: bold;
	color: #fff;
}
.container-cover small {
	color: #fff;
}
.portfolio-div{
	background: #fff;
	padding: 70px 0px;
}
.portfolio-div h1{
	text-align: center;
	color: #000;
	font-family: lato;
}
.portfolio{
    text-align: center;
    position: relative;
}
.portfolio:before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.portfolio:hover:before{ opacity: 1; }
.portfolio img{
    width:100%;
    height: 300px;
}
.portfolio .portfolio-content{
    width: 100%;
    padding: 20px 0 30px;
    color: #fff;
    opacity: 0;
    position: absolute;
    bottom: 10%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.portfolio:hover .portfolio-content{
    opacity: 1;
    bottom: 0;
}
.portfolio .portfolio-content:before{
    content: "";
    width: 100px;
    height: 8px;
    background: #e16e14;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.4s ease-in-out 0s;
}
.portfolio:hover .portfolio-content:before{ width: 100%; }
.portfolio .title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}
.portfolio .post{
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.portfolio .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.portfolio .icon li{ display: inline-block; }
.portfolio .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #0c9ae3;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
}
.portfolio .icon li a:hover{ transform: rotateX(360deg); }
@media only screen and (max-width:990px){
    .portfolio{ margin-bottom: 30px; }
}
.headings{
	font-size: 40px;
	text-align: center;
	font-family: lato;
  font-weight: bold;
	color: #000;
	text-transform: uppercase;
}
footer {
    background: #000;
    height: auto;
}
.give {
    font-size: 15px;
    font-family: !Museo important;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.face {
    width: 70px;
    height: 70px;
    padding-top: 9px;
    border-radius: 8px;
    color: #fff;
    background: blue;
}
.socia {
    font-size: 50px;
    color: #fff;
}
.soci {
    display: inline-block;
    margin: 10px;
}
.twit {
    width: 70px;
    height: 70px;
    padding-top: 9px;
    border-radius: 8px;
    color: #fff;
    background: #63cdf1;
}
.insta {
    width: 70px;
    height: 70px;
    padding-top: 9px;
    border-radius: 8px;
    color: #fff;
    background: #EA5745;
}

h1 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
    font-family:lato;
}

.ion-minus{
    padding:0px 10px;
}
.portfolio p{
	color: #000;
}
.portfolio{
    background-color:#f6f6f6;
	padding:60px 0px;
	font-size:13px;
    font-family: lato;
}

.portfolio .img-rounded {
    width: 100%;
    margin: 15px 0px;
    object-fit: cover;
}

.portfolio .img-rounded:hover {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    opacity:0.7;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.about-us p {
	font-size: 20px;
    font-family: lato;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: justify;
}
.about-content{
	padding: 60px 0px;
}
.cover-wrap h5{
	font-size: 30px;
	text-transform: uppercase;
	font-family: lato;
}
.icon-background {
	color: #fff;
}
.cover-wrap{
	background-image: url(../images/abt-bottom.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 500px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
}
.process-banner{
  background-image: url(../images/process.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 750px !important;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
}
.cover-wrap p {
  color: #fff;
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato;
    letter-spacing: 2px;
    font-size: 40px;
}
.what-we-do-div{
  background: #DA1630;
  padding: 20px 0px;
  padding-left: 45px;
  border-radius: 6px;
}
.what-we-do-div ul{
  color: #fff;
  font-family:lato;
}
.what-we-do-div strong{
  color: #fff;
  font-family: lato;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-left: 100px;
}
table {
  width: 100%;
}
tbody td{
  color: #fff;
  font-family: lato;
  text-transform: capitalize;
  line-height: 30px;
}
.first-step-h1{
	color: #fff;
    font-family: lato;
    font-size: 20px;
    font-weight: bold;
}
.steps-content{
	font-family: latolight;
	color: #fff;
}
.call{
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.call:hover{
	-webkit-transform:scale(1);
	transform:scale(1);
}
.caption {
  background:#E51426;
  height: auto;
  margin-top: 0px;
  padding: 10px;
  opacity: 0.8;
}
.image-caption{
  border-radius: 2px;
  box-shadow: 0px 0px 5px 3px #808080;
}
#img-hold{
  transition: transform .2s;
}
#img-hold:hover{
  transform: scale(1.1);
}
.comp-name{
  letter-spacing: 1px;
  font-family: lato;
  font-weight: bold;
  color: #fff;
}
.nav_li{
  width: 100%;
}

.abt-heading {
  color: #EC1C2E;
  text-transform: capitalize;
  font-family: lato;
  font-size: 20px;
}
.contentt p {
    font-family: lato;
    line-height: 26px;
    text-align: justify;
}
.idea-img{
  background-image: url(../images/idea.jpg);
  background-size: 100% auto;
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.concept-img{
  background-image: url(../images/concept.jpg);
  background-size: 100% auto;
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.brand-img{
  background-image: url(../images/brand.png);
  background-size: 100% auto;
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#processContainer{
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  width: 100% !important;
}
.content-writeup{
  padding: 40px;
}
.content-writeup p{
  line-height: 30px;
  font-family: lato;
  color: #000;
}
.content-writeup strong {
  display: inline-block;
  font-size: 25px;
  letter-spacing: 2px;
}
.content-writeup b{
  font-size: 40px;
  color: #F02D4C;
}
.process-button-div button{
  background-color: #000;
    border: none;
    color: #fff;
    margin-top: 95px !important;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px !important;
}
.text-wrapper {
  padding: 30px 0px;
  background-color: #F02D4C;
  margin-top: -27px;
}
.text-wrapper p{
  color: #fff;
  font-family: lato;
  font-size: 30px;
  line-height: 45px;
  margin-top: 45px;
}
.icon-td{
  vertical-align: middle;
  width: 20%;
  font-size: 50px;
  color: #CF1D3F;
}
.text-wrap{
  float: left;
  width: 80%;
  color: #fff;
  text-align: justify;
  font-family: latolight;
}
.container-cap{
  background-image: url(../images/digital-marketing.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 600px !important;
     -webkit-background-size: cover;
     background-position: 50% 50%;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
}
.overlay{
  height: 600px;
  opacity: 0.8;
  background-color: #000;
  padding: 30px 0px;
}
.contact-banner {
  background-image: url(../images/contact-us.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 300px !important;
     -webkit-background-size: cover;
     background-position: 50% 50%;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
}
.brief-banner {
  background-image: url(../images/brief.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 300px !important;
     -webkit-background-size: cover;
     background-position: 50% 50%;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
}
.brief-body{
  background-image: url(../images/brief-body.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height:auto;
     -webkit-background-size: cover;
     background-position: 50% 50%;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
}
.brief-h2 {
      margin-top: -20px;
    text-align: center;
    color: #fff;
    font-family: lato;
    letter-spacing: 3px;
}
.brief-body-overlay{
  background: #000;
  opacity: 0.8;
  height: auto !important;
}
.form-div {
  width: 50%;
  margin: auto;
}
.contact-overlay{
  height: 300px;
  opacity: 0.8;
  background-color: #000;
}
.contact-div{
    width: 100%;
    margin: auto;
    color: #fff;
    padding: 30px 0px;
    margin-top: 80px;
}
#side-image{
  background-image: url(../images/contact-side-image.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 626px !important;
     -webkit-background-size: cover;
     background-position: 50% 50%;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
}
#side-image-overlay {
  height: 626px !important;
  background: #000;
  opacity: 0.6;
}
label{
  color: #fff;
}
table {
  width: 100%;
}
th{
  text-transform: uppercase;
  font-family: lato;
}
.socialmedia_li li a{
  color: #fff !important;
  list-style:none;
}
.socialmedia_li li{
  list-style:none;
}
.text-wrap b {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
.side-content b {
 text-align: center;
 font-weight: bold;
 text-transform: capitalize;
 font-family: lato;
}
.side-content {
  margin-top: 30px;
}



/*REFER AND EARN*/

.refer-and-earn-header-bottom {
  padding: 30px 0px;
  background: #EB1829;
}

.refer-and-earn-header-bottom-h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0px !important;
  color: #fff;
  font-weight: 600;
  font-family: lato;
}

.refer-and-earn-col-md-6-h1 {
  font-size: 18px;
  font-weight: 600;
  font-family: lato;
  margin-bottom: 40px;
}

.refer-and-earn-col-md-6-li {
  display: inline-block;
  font-family: lato;
}

.refer-and-earn-table-td {
  font-size: 13px;
  font-family: lato;
}

.refer-and-earn-col-md-6-form-label {
  color: #000;
  font-family: lato;
}

.refer-and-earn-col-md-6-form-button {
  background: #EB1829;
  color: #fff !important;
  padding: 20px 30px;
  text-decoration: none;
  font-family: lato;
}

.refer-and-earn-col-md-6-login-form-button {
  background: #fff;
  color: #EB1829 !important;
  padding: 10px 20px;
  text-decoration: none;
  font-family: lato;
}

.refer-and-earn-login-form-button {
  background: #fff;
  color: #EB1829 !important;
  padding: 5px 20px;
  text-decoration: none;
  font-family: lato;
}

.refer-and-earn-col-md-6-form-button:hover {
  text-decoration: none;
}

.refer-and-earn-login-form-button:hover {
  text-decoration: none;
}

.refer-and-earn-login {
  background: #EB1829;
  padding: 40px 0px;
  font-family: lato;
}

.refer-and-earn-login-div {
  width: 50%;
  margin: auto;
  font-family: lato;
}

.refer-and-earn-login-h1 {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  font-family: lato;
}

.refer-and-earn-faq {
  padding: 40px 0px;
  font-family: lato;
}

.refer-and-earn-faq-h1 {
  font-size: 18px;
  font-family: lato;
  font-weight: 600;
}

.refer-and-earn-faq-p {
  font-family: lato;
  font-size: 12px;
}

